* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease all;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #081f37;
}

button,
input {
  border: 0;
  outline: 0;
  padding: 0.75rem 2.5rem;
}

input {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background: transparent;
  color: #fff;
  font-weight: 550;
  font-size: 1.25rem;
}

input::placeholder {
  color: #fff;
}

button {
  cursor: pointer;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

h1 {
  text-transform: uppercase;
  color: #fff;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

.container__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header > div:last-child {
  font-size: 2rem;
  border: 1px solid #5fc9f3;
  color: #5fc9f3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px #5fc9f3;
  cursor: pointer;
}

.container__form {
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  width: 100%;
}

.search-btn {
  font-size: 1.25rem;
  color: #1e549f;
}

@media only screen and (max-width: 37.5rem) {
  .header {
    flex-direction: column;
    gap: 2.5rem;
  }
}

@media only screen and (max-width: 28.125rem) {
  h1 {
    font-size: 1.5rem;
  }
}

.github-profile {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(255, 255, 255, .7);
}
