* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease all;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #081f37;
}

img {
  display: flex;
}

button,
input {
  border: 0;
  outline: 0;
  padding: 0.75rem 2.5rem;
}

a {
  text-decoration: none;
}

input {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background: transparent;
  color: #fff;
  font-weight: 550;
  font-size: 1.25rem;
}

input::placeholder {
  color: #fff;
}

button {
  cursor: pointer;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

h1 {
  text-transform: uppercase;
  color: #fff;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

.container__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header > div:last-child {
  font-size: 2rem;
  border: 1px solid #5fc9f3;
  color: #5fc9f3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px #5fc9f3;
  cursor: pointer;
}

.container__form {
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  width: 100%;
}

.search-btn {
  font-size: 1.25rem;
  color: #1e549f;
}

@media only screen and (max-width: 37.5rem) {
  .header {
    flex-direction: column;
    gap: 2.5rem;
  }
}

@media only screen and (max-width: 28.125rem) {
  h1 {
    font-size: 1.5rem;
  }
}

.github-profile {
  position: relative;
  background-color: #fff;
  max-width: 550px;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.7);
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.github-profile a {
  color: #333;
}

.github-profile i {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  cursor: pointer;
}
.github-profile i:hover {
  background-color: #333;
  color: #fff;
  box-shadow: none;
}

.user-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
  color: #081f37;
}

.avatar {
  width: 200px;
  height: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
  height: auto;
  border-radius: 50%;
}

.user-data-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.user-details > .user-data-item {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.user-details > .user-data-item > div:first-child {
  font-weight: 600;
  font-size: 1.25rem;
  color: #081f37;
}

.user-details > .user-data-item > div:last-child {
  font-size: 1.25rem;
}

@media only screen and (max-width: 37.5rem) {
  body {
    min-height: 100vh;
  }
  .github-profile {
    width: 80%;
    margin: 1.5rem 0;
  }
  .user-container {
    flex-direction: column;
    border-bottom: 1px solid #ccc;
  }
}
